{% extends "base.html" %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}About{% endblock %}

{% block content %}
<div class="box">
	<h1>About the game</h1>
	<p><em>Dig Gems</em> is a board game where two players
	compete, in turns, for the location of more precious gems in a 
	mine. The game is fast, during few seconds per section and demands –
	besides a bit of luck – logical thinking and strategy for both players.</p>
	
	<p><em>Dig Gems</em> is a <em>Minesweeper Flags</em> clone for <em>web</em>, 
	made widespread by the now extinct <em>MSN Messenger</em>, which, was based
	and has lots of similarities with the classic <em>Minesweeper</em> puzzle,
	made famous by <em>Microsoft Windows's</em> distribution version.</p>
	
	<p>The main difference between <em>Minesweeper</em> and <em>Dig Gems</em>
	is that in <em>Minesweeper</em>, your objective is to avoid special positions – the land mines –
	and open all the remaining terrain to win.
	In <em>Dig Gems</em>, the objective is exactly the opposite: you must find the special positions
	– precious gems – to win points and overcome your adversary.</p>

	<em>Dig Gems</em> doesn't require installation or some special plugin to be played
	instead, we used the latest technologies in its development, commonly known as
	<em>HTML5</em>. So, you have to use a relatively new browser to play,
	that supports all resources used. Therefore, we recommend 
	<a href="http://www.mozilla.com/"><em>Mozilla Firefox</em></a> or
	<a href="http://chrome.google.com/"><em>Google Chrome</em></a>, both free and
	<a href="http://www.gnu.org/philosophy/free-sw.en.html">open source</a>.</p>
</div>

{% endblock %}
