{% extends "base.html" %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}About{% endblock %}

{% block content %}
<div class="box">
	<h1>About the game</h1>
	<p>Dig Gems is a board game where two players
	compete, in turns, for the location of more precious gems in a 
	mine. The game is fast, during few minutes per session and demands–besides
	a bit of luck–logical thinking and strategy from both players.</p>
	
	<p>Dig Gems is a Minesweeper Flags clone for web, 
	made widespread by the now extinct MSN Messenger, which was based on
	and has lots of similarities with the classic Minesweeper puzzle,
	made famous by the version distributed with Microsoft Windows.</p>
	
	<p>The main difference between Minesweeper and Dig Gems
	is that in the former, your objective is to avoid special positions–the land
	mines–and open all the remaining terrain to win.
	In Dig Gems, the objective is exactly the opposite: you must find the special positions,
	the precious gems, to win points and overcome your adversary.</p>

	<p>Dig Gems doesn't require installation of some special plug-in to be played.
	Instead, we used the latest technologies in its development, commonly known as
	HTML5. So, all you need to play is use a relatively new browser,
	that supports all resources used. Therefore, we recommend 
	<a href="http://www.mozilla.com/"><em>Mozilla Firefox</em></a> or
	<a href="http://chrome.google.com/"><em>Google Chrome</em></a>, both free and
	<a href="http://www.gnu.org/philosophy/free-sw.en.html">open source</a>.</p>
</div>

{% endblock %}
