{% extends "base.html" %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}About{% endblock %}

{% block content %}
<div class="box">
	<h1>About the game</h1>
	<p><em>Dig Gems</em> é um jogo de tabuleiro onde dois participantes
	competem, em turnos, pela localização de mais gemas preciosas em uma
	mina. O	jogo é rápido, durando poucos minutos por sessão, e exige –
	além de	um pouco de sorte – raciocínio lógico e estratégia por parte
	do jogadores.</p>
	
	<p>O <em>Dig Gems</em> é um clone para <em>web</em> do jogo <em>Minesweeper
	Flags</em>, popularizado pelo extinto <em>MSN Messenger</em>, que, por sua
	vez, foi baseado e tem muitas semelhanças com o clássico jogo de quebra-cabeças
	<em>minesweeper</em>, famoso como <em>Campo Minado</em>, por causa da versão
	distribuída em conjunto com o <em>Microsoft Windows</em>.</p>
	
	<p>A diferença fundamental entre o <em>Campo Minado</em> e o <em>Dig Gems</em>
	é que no primeiro, seu objetivo é evitar as posições especiais – as minas
	terrestres, que te fazem perder – e abrir todo o terreno em volta para ganhar.
	Já no <em>Dig Gems</em>, o objetivo é justamente o contrário: você deve encontrar
	as posições especiais –	as pedras preciosas – para ganhar pontos e superar seu
	adversário.</p>

	<p>O <em>Dig Gems</em> não exige a instalação de nenhum plugin especial para
	ser jogado; em vez disso, foram utilizadas as mais recentes tecnologias
	<em>web</em> em seu desenvolvimento, popularmente conhecidas como <em>HTML5</em>.
	Em consequência disso, é necessário usar um navegador relativamente novo para jogar,
	que dê suporte a todos os recursos utilizados. Para tanto, nós recomendamos ou o
	<a href="http://www.mozilla.com/"><em>Mozilla Firefox</em></a> ou o
	<a href="http://chrome.google.com/"><em>Google Chrome</em></a>, ambos gratuítos e
	<a href="http://www.gnu.org/philosophy/free-sw.pt-br.html">livres</a>.</p>
</div>

{% endblock %}
