{% extends "base.html" %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}Contact us{% endblock %}

{% block content %}
<div class="box">
	<h1>Contact us</h1>
        <p>Do you want to get in touch with us? Have something to say? Maybe you found a bug and
        want to help making this a better game by reporting the problem? Perhaphs you need help
        with some issue? Have wonderful ideas and suggestions on how the game can be improved?
        Or maybe you just want to say thanks for this awsome game!?</p>
        
        <p>In any case, just send a word to us at <a href="mailto:loquor@fr4c74l.com">loquor@fr4c74l.com</a>
        and we will be glad to hear from you.</p>
</div>

{% endblock %}