{% extends "base.html" %}
{% load i18n %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}How to play{% endblock %}

{% block content %}
<div class="box">
	<h1>How to play</h1>
	<p>Howdy miner! I suppose you ought to be the latest Burma ruler. So pick up your shovel
	and pickaxe and get to work! Shown below is the mine, your goal is to dig it and find
	as much gems as you can before you adversary does, after all, you don't want to be
	enslaved by him/her, right!? Gems are rare, they say there are only 51 of them buried in the
	mine, so stop wasting time get right now to digging!</p>
	<img class="center" src="/static/images/t-score.png" />

	<br><br><br>

	<p>To open up your mine, you just need to send the link found right bellow the mine
	to your adversary. As soon as her/him connects, the run for the gems starts. But wait!!!
	You don't have a shovel! We can lend you one, but take great care of it, OK? It is
	the only one we have, and other miners borrows it, too, that is why all the action
	takes place in turns. So, wait for your shovel or pickaxe to show up, allowing you
	to cast your move. Use it right away! You have only 45 seconds before risking having
	the shovel taken from you... or worse! You can even be expelled from the mine, at the
	mercy of your adversary!</p>
	<img class="center" src="/static/images/t-link.png" />

	<br><br><br>

	<img class="rightclear" src="/static/images/t-gameplay-gem.png" />
	<img class="rightclear" src="/static/images/t-gameplay-gemfound.png" />
	<p>You have tools to help you in your quest. Besides your brain and your shovel,
	you have a gem proximity detector. When you dig, a number is shown. It means exactly
	how many gems are in immediate proximity of the dug tile. More precisely, in the
	8 positions around the central one.</p>

	<p>For instance, in the rightmost picture, the number 1 highlighted says there are
	precisely one gem hidden around that position. Since 7 of those positions are already
	dug and revealed, there is solely one place where the gem could be. You would just need
	to click (dig) that tile to find-it.</p>

	<p>This way, the numbers shown as the mine is dug are the clues telling the number of
	gems in the vicinity. When there are no gems about, you will dig like a crazy mole until
	the numbers are found, revealing all the empty space around.</p>

	<br><br><br>

	<p>In case you are losing the game, i.e. the amount of gems you've found―shown in the
	top of the mine―is smaller than your adversary's, you can use your single explosive charge
	to blow up part of the mine. The powerful dynamite opens up hole of 5x5 tiles! In the
	following pictures you can see the charge being used by the red miner.</p>

	<div id="image_container" > 
		<img src="/static/images/t-bomb.png" />
		<img id="arrow" src="/static/images/arrow.png" />
		<img src="/static/images/t-explosion.png" />
	</div>


	<br><br><br>

	<p>The mining is over when one of the diggers finds more than half of all mine's gems.
	After that, the location of all undiscovered gems is revealed―accounted to the winner!</p>

	<img class="center" src="/static/images/t-final.png" />

	<p>Good digging!</p>
</div>

{% endblock %}
