{% extends "base.html" %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}Privacy policy{% endblock %}

{% block content %}
<div class="box">
	<h1>Privacy policy</h1>

        <p>Here is all the data we may keep from our users:</p>
        <ul>
            <li>Identifier cookies, so that we may know that you are you, in between different
            browser tabs and sessions (like every site does);</li>
            <li>Your game score and statistics, like your win/lose ratio, games won, games lost,
            games finished, total gems found, gems found in a week,
            <a href="http://en.wikipedia.org/wiki/Elo_rating_system">Elo rating</a>, etc;</li>
            <li>If you choose to login with Facebook, we may keep your name and
            the association to your Facebook profile.</li>
        </ul>

        <p>The only ways we may use that data is to:</p>
        <ul>
            <li>Display your publicly available Facebook information (name, profile picture) in
            association with the game matches you are currently playing or have played in the past;</li>
            <li>Display your name, picture and accumulated scores in scoreboards;</li>
            <li>Identify you to other participants in the real time chats.</li>
        </ul>

        <p>In case you logged in with Facebook, we may provide a link to your public
        Facebook profile in the places you are identified as the player. Otherwise, you will
        only be identified by your guest account, and no personal information will
        be displayed unless you provide that information yourself in the chats.</p>

        <p>Game matches may be watched by spectator users, and they may see players'
        identities, watch the game moves, and read the in-game chat.</p>

        <p>Besides what is publicly available, we will not share any user data
        with anyone else.</p>
</div>

{% endblock %}
