{% extends "base.html" %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}Terms of service{% endblock %}

{% block content %}
<div class="box">
	<h1>Terms of service</h1>

        <p>We run this game in the hope it will be enjoyable to the players,
        and although we can not guarantee a flawless experience, we will
        try–under no legal obligation–to:</p>
        <ul>
            <li>Keep the game always up and running when not in maintenance;</li>
            <li>Keep the maintenance downtime as low as possible;</li>
            <li>Keep the response time of the servers always fast;</li>
            <li>Do not disrupt game matches in progress;</li>
            <li>Do not lose players historical statistics of bragging value.</li>
        </ul>

        <p>We also expect our users to be always respectful to others, and we
        reserve ourselves the right to forbid the access to our services to
        those who exibts socially innaceptable behaviors.</p>
</div>
{% endblock %}
