Django==1.5.1
South==0.8.1
argparse==1.2.1
cffi==0.7.2
decorator==3.4.0
distribute==0.6.34
gevent==1.0dev
gevent-fastcgi==0.1.24dev
gevent-websocket==0.4.dev03579dab386d
geventhttpclient==1.1
gipc==0.3.2
greenlet==0.4.1
psycopg2==2.5.1
pycparser==2.10
uWSGI==1.9.13
wsgiref==0.1.2
zope.interface==4.0.5
setproctitle==1.1.7
