@charset "utf-8";

@font-face {
    font-family: Diavlo;
    src: url('/static/fonts/Diavlo_BOOK_II_37.otf');
    /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
}

@font-face {
    font-family: Diavlo;
    font-weight: bold;
    src: url('/static/fonts/Diavlo_BOLD_II_37.otf');
    /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
} 

html {
	overflow: auto;
	background:url('/static/images/bg-diggems.png') repeat-x left top;
	background-size: auto 100%;
	z-index: -1;
	font-family: sans;
}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}

canvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index:-1;
	border: 30px solid #fff;
}

#bomb {
	float: left;
	width: 50px;
	height: 50px;
	z-index:-1;
}

#bomb:hover{
	background: url(../images/bomb_up.png) no-repeat left top ; 
}

ul {
	list-style:none;
	padding: 0px;
}

li {
	list-style:none;
	padding: 0px;
}

/* HEADER */
#header {
	border-radius: 15px;
	min-width:521px;
	padding:10px;
}

.logo {
	vertical-align: middle;
	padding-left:10px;
}

#title {
	font-family: Diavlo;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0.2em #535353;
	color: #234645;
	font-size: 68px;
	padding-left:20px;
	letter-spacing: 4pt;
}

#user_info {
	float: right;
	top: 20px;
	position: relative;
}

#user_pic {
	float: left;
}

#user_stats {
	padding-left: 5px;
}

#auth_username {
}

#score {
}

/* CONTENT */
#content {
}

/* FOOTER */
#footer {
	border-radius: 15px;
	min-width:521px;
	padding:10px;
}

#footer_container {
	/* width: 800px; */
	margin: 0 auto;
}

#footer li {
	float: left;
	list-style-type: none;
}

#footer li a {
	color: white;
	text-decoration: none;
}

#footer li a:hover {
	text-decoration: underline;
}

#footer_links {
	width: 500px;
	margin: 0 auto;
}
