@charset "utf-8";

@font-face {
    font-family: Diavlo;
    src: url('/static/fonts/Diavlo_BOOK_II_37.otf');
    /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
}

@font-face {
    font-family: Diavlo;
    font-weight: bold;
    src: url('/static/fonts/Diavlo_BOLD_II_37.otf');
    /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
} 

html, body {
	overflow: auto;
	background:url('/static/images/bg-diggems.jpg') repeat-x left top;
	background-size: auto 100%;
	z-index: -1;
	font-family: sans;
	/*height:100%;*/
}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 416px;
	height: 416px;
	margin: -270px 0 0 -202px;
	background-color: #eee;
	z-index:1;
}

#machine{
	height: 903px;
	width: 759px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -451px 0 0 -379px;
	background: url('/static/images/maquina1.png') center no-repeat;
	z-index:0;
}

#machine_border{
	height: 903px;
	width: 759px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -451px 0 0 -379px;
	background: url('/static/images/maquina1-borda.png') center no-repeat;
	z-index:2;
}

#bomb {
	float: left;
	width: 50px;
	height: 50px;
	z-index:-1;
}

#bomb:hover{
	background: url(../images/bomb_up.png) no-repeat left top ; 
}

ul {
	list-style:none;
	padding: 0;
	margin: 0;
}

li {
	list-style:none;
	padding: 0;
	margin: 0;
}

#container {
	position:relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

/* HEADER */
#header {
	border-radius: 15px;
	min-width:521px;
	padding:10px;
}

.logo {
	vertical-align: middle;
	padding-left:10px;
}

#title {
	font-family: Diavlo;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0.2em #535353;
	color: #234645;
	font-size: 68px;
	padding-left:20px;
	letter-spacing: 4pt;
}

#user_info {
	float: right;
	top: 20px;
	position: relative;
}

#user_pic {
	float: left;
}

#user_stats {
	padding-left: 5px;
}

#auth_username {
}

#score {
}

/* CONTENT */
#content {
	padding: 10px;
	padding-bottom: 40px;   /* Height of the footer */
}

/* FOOTER */

#footer {
	min-width:521px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;   /* Height of the footer */
}

#footer_container {
	margin: 0 auto;
}

#footer_container li {
	float: left;
	padding-left: 20px;
	list-style-type: none;
}

#footer_container li a {
	color: white;
	clear: both;
	white-space: normal;
	text-decoration: none;
}

#footer_container li a:hover {
	text-decoration: underline;
}


