@charset "utf-8";

@font-face {
	font-family: Diavlo;
	src: url('/static/fonts/Diavlo_BOOK_II_37.otf');
	/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
}

@font-face {
	font-family: Diavlo;
	font-weight: bold;
	src: url('/static/fonts/Diavlo_BOLD_II_37.otf');
	/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
} 

@font-face{
	font-family: GrutchShaded;
	src: url('/static/fonts/GrutchShaded.ttf');
	/* A font by gruson.steeve@neuf.fr */
}

html, body {
	overflow: auto;
	background:url('/static/images/bg-diggems.jpg') repeat-x left top;
	background-color: #543116;
	background-size: auto 100%;
	z-index: -1;
	font-family: sans;
	/*height:100%;*/
}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}

ul {
	list-style:none;
	padding: 0;
	margin: 0;
}

li {
	list-style:none;
	padding: 0;
	margin: 0;
}

#container {
	position:relative;
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

/* HEADER */
#header {
	border-radius: 15px;
	min-width:521px;
	padding:10px;
}

.logo {
	vertical-align: middle;
	padding-left:10px;
}

#title {
	font-family: GrutchShaded;
	font-weight: bold;
	/* text-shadow: 0.1em 0.1em 0.2em #535353; */
	color: #4c79a9;
	font-size: 68px;
	padding-left:20px;
	letter-spacing: 4pt;
}

#subtitle {
	color: #9a64c8;
}

#user_info {
	float: right;
	top: 20px;
	position: relative;
}

#user_pic {
	float: left;
}

#user_stats {
	padding-left: 5px;
}

#auth_username {
}

/* CONTENT */
#content {
	padding: 10px;
	padding-bottom: 40px;   /* Height of the footer */
}

/* FOOTER */

#footer {
	min-width:521px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;   /* Height of the footer */
}

#footer_container {
	display: block;
	margin: 0 auto;
}

#footer_container li {
	float: left;
	padding-left: 20px;
	list-style-type: none;
}

#footer_container li a {
	color: white;
	white-space: normal;
	text-decoration: none;
}

#footer_container li a:hover {
	text-decoration: underline;
}


