/*canvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 1;
	border: 30px solid #fff;
}*/

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 416px;
	height: 416px;
	margin: -270px 0 0 -202px;
	background-color: #eee;
	z-index:1;
}

#machine{
	height: 903px;
	width: 759px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -451px 0 0 -379px;
	background: url('/static/images/machine.png') center no-repeat;
	z-index:0;
}

#machine_border{
	height: 903px;
	width: 759px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -451px 0 0 -379px;
	background: url('/static/images/machine-border.png') center no-repeat;
	z-index:2;
}


#bomb {
	float: left;
	width: 50px;
	height: 50px;
	z-index:-1;
}

#bomb:hover{
	background: url(../images/bomb_up.png) no-repeat left top ; 
}

#message {
	color: #fff;
}

#score {
	
}
