@charset "utf-8";

html {
	overflow: auto;
}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 416px;
	height: 416px;
	margin: -270px 0 0 -202px;
	background-color: #eee;
	z-index:1;
}

#bomb {
	float: left;
	width: 50px;
	height: 50px;
	z-index:-1;
}

#bomb:hover{
	background: url(../images/bomb_up.png) no-repeat left top ; 
}

div {
	overflow: hidden;
}

/* HEADER */
#header {
	border-radius: 15px;
	min-width:521px;
	padding:10px;

	background: -moz-linear-gradient(top,  rgba(249,201,36,1) 0%, rgba(241,215,123,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,201,36,1)), color-stop(100%,rgba(241,215,123,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,201,36,1) 0%,rgba(241,215,123,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,201,36,1) 0%,rgba(241,215,123,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,201,36,1) 0%,rgba(241,215,123,0) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(249,201,36,1) 0%,rgba(241,215,123,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.logo {
	vertical-align: middle;
	padding-left:10px;
}

#title {
	font-family: sans;
	color: #913D00;
	font-size: 68px;
	padding-left:20px;
	letter-spacing: 4pt;
}

#user_info {
	float: right;
	top: 20px;
	position: relative;
}

#user_pic {
	float: left;
}

#user_stats {
	padding-left: 5px;
}

#auth_username {
}

#score {
}

/* CONTENT */
#content {
}

/* FOOTER */
#footer {
	border-radius: 15px;
	min-width:521px;
	padding:10px;

	background: -moz-linear-gradient(bottom,  rgba(249,201,36,1) 0%, rgba(241,215,123,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(249,201,36,1)), color-stop(100%,rgba(241,215,123,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(249,201,36,1) 0%,rgba(241,215,123,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom,  rgba(249,201,36,1) 0%,rgba(241,215,123,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom,  rgba(249,201,36,1) 0%,rgba(241,215,123,0) 100%); /* IE10+ */
	background: linear-gradient(bottom,  rgba(249,201,36,1) 0%,rgba(241,215,123,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

#footer_container {
	/* width: 800px; */
	margin: 0 auto;
}

#footer ul {
	float: left;
	list-style-type: none;
}

#footer_links {
	width: 500px;
	margin: 0 auto;
}


#content_container {
	margin: 0 auto;
	position: relative;
	padding: 0;
	max-width: 800px;
}

/* TABLES */

table {
	/* border-collapse:collapse; */
	empty-cells: hide;
	overflow: visible;
	width:100%;
	border-spacing: 20px;
}

tr {
	width:50%;
}

td {
	padding: 11px;
}

#new_game {
	vertical-align: bottom;
	background-color: #f3d0ff;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fb3;
	-o-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fb3;
	-moz-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fb3;
	-webkit-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fb3; 
	border: 1px #fb3 solid;
}

#join_game {
	background-color: #f8e08c;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fb3;
	-o-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fb3;
	-moz-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fb3;
	-webkit-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fb3;
	border: 1px #fb3 solid;
}

#your_game {
	background-color: #e9ffcd;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fb3;
	-o-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fb3;
	-moz-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fb3;
	-webkit-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fb3; 
	border: 1px #fb3 solid;
}

td.top {
	vertical-align: top;
}
td h1 {
	text-align: left;
}

caption {
	font-weight:bold;
	margin-bottom:.33em;
}

/* FORMS */

form {
	margin: 15px auto 20px;
	padding: 12px 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

input[type=submit] {
	height: 35px;
	line-height: 34px;
	padding: 0 10px;
	margin: 4px 0 0 180px;
	min-width: 150px;
	background-color: #a0dC48;
	display: block;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px outset #B0EC58;
	color: #f9f9f9;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: bold;
	text-shadow: #72a749 0 -1px 0;
	text-align: center;
	cursor: pointer;
	margin: 0 auto;
}

input[type=submit]:hover {
	color: #f9f9f9;
	cursor: pointer;
}

input[type=submit]:active {
	line-height: 36px;
	background-color: #6aa040;
	line-height: 36px;
	border: 1px inset #6aa040;
}

