{% extends "base.html" %}
{% load i18n %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}{% blocktrans %}Broken Link{% endblocktrans %}{% endblock %}

{% block content %}

<div class="box">
	<h1>{% blocktrans %}Oops! Error 404{% endblocktrans %}</h1>
    <p>{% blocktrans %}This page does not exist. You may have mis-typed the URL. Go back to <a href="/">main page</a>.{% endblocktrans %}</p>
</div>

{% endblock %}
