{% extends "base.html" %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}About{% endblock %}

{% block content %}
<div id="content_container">
	<div class="box content">
		<h1> Sobre nós </h1>
		<p>Nós somos uma empresa predestinada a ganhar controle sobre as megacorporações do mundo e corroê-las por dentro, quebrando assim todo o mercado financeiro. Também fazemos jogos, e qualquer outro serviço que aparecer.</p>
	</div>
</div>
{% endblock %}
