{% extends "base.html" %}
{% load i18n %}

{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}{% trans "Challenge Acceptance" %}{% endblock %}

{% block content %}
<div class="box">
	<h1>{% blocktrans %}{{ u.name }} is waiting for an oponent!{% endblocktrans %}</h1>
	<p>{% blocktrans %}<b>{{ u.name }}</b> is waiting right now for an oponent on a DigGems match.
	Are you the one to accept the challenge? Please be considerate and only join-in if you
	intent to play through the game. A match hardly lasts more than 15 minutes.
	{% endblocktrans %}</p>
	<form action="/game/{{ g.id }}/join/" method="post">{% if g.token %}
		<input type="hidden" value="{{ g.token }}" />{% endif %}
		<input class="button" type="submit" value="{% trans "I will not chicken out! Let me in!" %}" />
	</form>
</div>
{# TODO: implement this page for multiple pending requests #}
{# TODO: make the page real time updatable, to remove requests when no longer available #}
{% endblock %}
