{% load i18n %}
{% comment %}

Copyright 2011 Lucas Clemente Vella
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}
<html>
<head>
    <title>DigGems: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/base.css" />
    {% block header_extra %}{% endblock %}
</head>
<body>
	<div class="wrap">
		<div id="fb-root"></div>
		<script src="/static/js/login.js"></script>
		<script>
		var auth = {
		  "fb": {% if fb %}{% include "auth_fb.json" %}{% else %}null{% endif %}
		};

		window.fbAsyncInit = function() {
			FB.init({
			  "appId": "{{ FB_APP_ID }}",
			  "status": true, "cookie": true, "oauth": true, "xfbml": true,
			  "channelURL": "http://" + window.location.host + "/fb/channel/",
			});
			/* Initial check of login status. */
			FB.Event.subscribe('auth.authResponseChange', on_fb_login);
		};

		// Load Facebook SDK asynchronously
		(function(d, s, id){
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) {return;}
		  js = d.createElement(s); js.id = id;
		  {% comment %}Translators: Please see locales that Facebook supports: https://www.facebook.com/translations/FacebookLocales.xml{% endcomment %}
		  js.src = "//connect.facebook.net/{% trans "en_US" context "Facebook" %}/all.js";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
		{% get_current_language as LANGUAGE_CODE %}
		{% get_available_languages as LANGUAGES %}
		<div id="langbar" class="container">
		<form name='langform' action='/i18n/setlang/' method='POST'>
			{% for LANG_CODE, LANG_NAME in LANGUAGES  %}
			<div class="lang_button" {% if LANGUAGE_CODE == LANG_CODE %} id="selected" {% endif %} onclick="document.langform.language.value='{{ LANG_CODE }}';document.langform.submit();"> {{ LANG_CODE }}</div>
			{% endfor %}
			<input name='language' type='hidden' >
		</form>
		</div>
		<div id="header" class="container">
			<a style="position: relative;" class="plain" href="/">
				<img id="icon" class="logo" src="/static/images/icon64.png" />
				<span id="title" class="logo">DigGems</span><img id="beta" src="/static/images/beta.png"/>
			</a>
			<div id="user_info">
				<img id="auth_user_pic" class="box" {% if fb %}src="//graph.facebook.com/{{ fb.uid }}/picture"{% else %}style="visibility: hidden;"{% endif %} />
				<div id="user_stats">
					<div id="logged_as"><span id="auth_username">{% if fb %}{{ fb.name }}{% else %} {% trans "Visitor" %} {% endif %}</span></div>
					<div id="score"> {% trans "Score" %}: <img src="/static/images/rb.png"/>: {{stats.score}} <img src="/static/images/trophy.png" />: {{stats.victories}}{% if stats.win_ratio %} ({{ stats.win_ratio|floatformat }}%){% endif %}</div>
					<div id="auth_fb_button"{% if fb %} style="display: none;"{% endif %} class="fb-login-button" data-show-faces="false" data-width="200" data-max-rows="1"></div>
					<div id="auth_logout"{% if not fb %} style="visibility: hidden;"{% endif %} class="button" onclick="fb_logout();"> {% trans "Logout" %}</div>
				</div>
			</div>
		</div>

		<div class="inner_wrap">
			<div class="page_columns page_threecol">
				<div class="page_colmid">
					<div class="page_colleft">
						<div class="colm">
							<div id="content" class="container">
								<div class="content_wrapper">
									{% block content %}{% endblock %}
								</div>
							</div>
						</div>
						<div class="coll">
							<div id="advertisement">
								<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
								<!-- adsense -->
								<ins class="adsbygoogle" 
									 style="display:inline-block;width:300px;height:600px"
									 data-ad-client="ca-pub-8118869021643552"
									 data-ad-slot="4679159828"></ins>
								<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
								</script>
							</div>
						</div>
						<div class="colr"></div>
					</div>
				</div>
			</div>
		<div>
	
		<div id="footer">
			<div id="footer_container" class="container box">
				<div class="fourcol colleft">
				  <h3>DigGems</h3>
				  <ul>
					  <li><a href="/">{% trans "Play it now!" %}</a></li>
					  <li><a href="/info/about/">{% trans "About the game" %}</a></li>
					  <li><a href="/info/howtoplay/">{% trans "How to play" %}</a></li>
					  <li><a href="/info/sourcecode/">{% trans "Source code" %}</a></li>
				  </ul>
				</div>
				<div class="fourcol colleft">
				  <h3>{% trans "Policy" %} </h3>
				  <ul>
					<li><a href="/info/terms/">{% trans "Terms of service" %}</a></li>
					<li><a href="/info/privacy/">{% trans "Privacy policy" %}</a></li>
				  </ul>
				</div>
				<div class="fourcol colleft">
				  <h3>{% trans "About Us" %} </h3>
				  <ul>
					<li><a href="/info/contact/">{% trans "Contact us" %}</a></li>
				  </ul>
				</div>
				<div class="fourcol colright">
					<h3>{% trans "Patronage" %} </h3>
					<a class="tip_jar" href="{% url 'game.views.donate' %}"></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>


