{% comment %}

Copyright 2011 Lucas Clemente Vella
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}{% load i18n %}{% load json %}{% comment %}
Translators: see http://www.w3.org/TR/html401/struct/dirlang.html#langcodes for explanation of these codes.
{% endcomment %}<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{% trans "en" context "XHTML" %}">
<head>
	<title>DigGems: {% block title %}{% endblock %}</title>
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/base.css" />
	<script src="/static/js/jquery-2.0.3.min.js"/>
	{% block header_extra %}{% endblock %}
</head>
<body>
	<div class="wrap">
		<div id="fb-root" />
		<script src="/static/js/login.js" />
		<script>
		<![CDATA[
		var auth = {% if user.auth %}{{ user.auth|json_dump }}{% else %}null{% endif %};

		window.fbAsyncInit = function() {
			FB.init({
			  "appId": "{{ FB_APP_ID }}",
			  "status": true, "cookie": true, "oauth": true, "xfbml": true,
			  "channelURL": "http://" + window.location.host + "/fb/channel/",
			});
			/* Initial check of login status. */
			FB.Event.subscribe('auth.authResponseChange', on_fb_login);
		};
		// Load Facebook SDK asynchronously
		(function(d, s, id){
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) {return;}
		  js = d.createElement(s); js.id = id;
		  {# Translators: see locales that Facebook supports: https://www.facebook.com/translations/FacebookLocales.xml #}
		  js.src = "//connect.facebook.net/{% trans "en_US" context "Facebook" %}/all.js";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		]]>
		</script>
		{% get_current_language as LANGUAGE_CODE %}
		{% get_available_languages as LANGUAGES %}
		<div id="langbar" class="container">
		<form name='langform' action='/i18n/setlang/' method='post'>
			<input name='language' type='hidden' />
			{% for LANG_CODE, LANG_NAME in LANGUAGES  %}
			<a class="lang_button" {% if LANGUAGE_CODE == LANG_CODE %} id="selected" {% endif %} onclick="document.forms.langform.language.value='{{ LANG_CODE }}';document.forms.langform.submit();"> {{ LANG_CODE }}</a>
			{% endfor %}
		</form>
		</div>
		<div id="header" class="container">
			<a style="position: relative;" href="/">
				<img id="icon" class="logo" src="/static/images/icon64.png" />
				<span id="title" class="logo">DigGems</span><img id="beta" src="/static/images/beta.png"/>
			</a>
			<div id="user_info">
				{% if not in_fb %}<img id="auth_user_pic" class="box" src="{{ user.pic_url }}" />{% endif %}
				<div id="user_stats">
					{% if not in_fb %}<div id="logged_as"><span id="auth_username">{{ user.name|capfirst }}</span></div>{% endif %}
					<div id="score">
					  {% trans "Score" %}: <img src="/static/images/rb.png"/>: <span id="_points">{{ user.stats.score }}</span>
					  <img src="/static/images/trophy.png" />: <span id="_victories">{{ user.stats.victories }}{% if user.stats.win_ratio %} ({{ user.stats.win_ratio }}%){% endif %}</span>
					</div>
					{% if not in_fb %}
					<div id="auth_fb_button"{% if user.auth.fb %} style="display: none;"{% endif %} class="fb-login-button" data-show-faces="false" data-width="200" data-max-rows="1"></div>
					<div id="auth_logout"{% if not user.auth.fb %} style="visibility: hidden;"{% endif %} class="button" onclick="fb_logout();"> {% trans "Logout" %}</div>
					{% endif %}
				</div>
			</div>
		</div>

	<div class="inner_wrap">
		<div class="container">
			<div class="page_columns page_threecol">
				<div class="page_colmid">
					<div class="page_colleft">
						<div class="colm">
							<div id="content" class="container">
								{% block content %}{% endblock %}
							</div>
						</div>
						<div class="coll">
							<object id="money1" data="{% url 'game.views.adhack' 0 %}" type="text/html"/>
						</div>
						<div class="colr">
							<object id="money2" data="{% url 'game.views.adhack' 1 %}" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div id="footer">
			<div id="footer_container" class="container box">
				<div class="fourcol colleft">
				  <h3>DigGems</h3>
				  <ul>
					  <li><a href="/">{% trans "Play it now!" %}</a></li>
					  <li><a href="/info/about/">{% trans "About the game" %}</a></li>
					  <li><a href="/info/howtoplay/">{% trans "How to play" %}</a></li>
					  <li><a href="/info/sourcecode/">{% trans "Source code" %}</a></li>
				  </ul>
				</div>
				<div class="fourcol colleft">
				  <h3>{% trans "Policy" %}</h3>
				  <ul>
					<li><a href="/info/terms/">{% trans "Terms of service" %}</a></li>
					<li><a href="/info/privacy/">{% trans "Privacy policy" %}</a></li>
				  </ul>
				</div>
				<div class="fourcol colleft">
				  <h3>{% trans "About Us" %}</h3>
				  <ul>
					<li><a href="/info/contact/">{% trans "Contact us" %}</a></li>
				  </ul>
				</div>
				<div class="fourcol colright">
					<h3>{% trans "Patronage" %}</h3>
					<a class="tip_jar" href="{% url 'game.views.donate' %}"></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>


