{% extends "base.html" %}
{% load i18n %}

{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}{% trans "Patronage" %}{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<div class="box">
	<h1>{% trans "Patronage" %}</h1>
	<p>{% blocktrans %}This game is free to play and <a href="/info/sourcecode">free software</a>. We also
	don't feel to be fair to charge for competitive advantage of some players over others. Anyway, we have
	dedicated much of our time to develop this game, and have our costs in keeping it running and in its
	continual development. Thus, we shamelessly ask for your patronage: any amount you can spare (greater
	than PayPal transaction fees) will be appreciated.{% endblocktrans %}</p>
	<p>{% trans "Thanks!" %}</p>

	<div class="threecol colleft">
		<h3> PayPal </h3>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
			<input type="hidden" name="cmd" value="_donations">
			<input type="hidden" name="business" value="financial@fr4c74l.com">
			<input type="hidden" name="item_name" value="{% trans "DigGems Patronage" %}">
			<input type="hidden" name="item_number" value="donation">
			<input type="hidden" name="no_shipping" value="1">
			<input type="hidden" name="rm" value="1">
			<input type="hidden" name="no_note" value="0">
			{% comment %}Translators: Please see locale codes supported by PayPal: https://developer.paypal.com/webapps/developer/docs/classic/paypal-payments-standard/integration-guide/Appx_websitestandard_htmlvariables/ {% endcomment %}
			<input type="hidden" name="lc" value="{% trans "US" %}">
			{% comment %}See currencies codes supported by PayPal: https://developer.paypal.com/webapps/developer/docs/classic/api/currency_codes/ {% endcomment %}
			<select name="currency_code">
				<option value="BRL">R$</option>
				<option value="USD">US$</option>
				<option value="EUR">€</option>
			</select>
			<input type="text" name="amount" value="5.00" size="5" style="font-size: 12px; margin-right: 4px;">
			<input type="image" align="top" src="https://www.paypalobjects.com/{% trans "en_US" context "PayPal" %}/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="{% trans "PayPal - The safer, easier way to pay online!"%}">
			<img alt="" border="0" src="https://www.paypalobjects.com/{% trans "en_US" context "PayPal" %}/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>

	<div class="threecol colleft">
		<h3> Flattr </h3>
		<script id='flattrbtn'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=fr4c74l&button=compact&url='+encodeURIComponent('{{ like_url }}');f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('flattrbtn');</script>
	</div>

	<div class="threecol colleft" style="min-width: 330px;">
		<h3>Bitcoin</h3>
		<a href="http://www.weusecoins.com/en/" target="_blank"><img style="vertical-align: middle;" src="/static/images/bitcoin_32x32.png" alt="{% trans "Donate Bitcoin" %}" /> <a class="undlin" rel="nofollow" href="bitcoin:1FmuHuupaQYFnULG2kpX4DM984LoG3Svwr">1FmuHuupaQYFnULG2kpX4DM984LoG3Svwr</a>
	</div>
	<br style="clear:both;" />
</div>
{% endblock %}
