{% extends "base.html" %}
{% load i18n %}

{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}{% trans "Donation" %}{% endblock %}

{% block header_extra %}
<script type="text/javascript">
/* <![CDATA[ */
    (function() {
        var s = document.createElement('script');
		var t = document.getElementsByTagName('script')[0];

		var lang = 
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//api.flattr.com/js/0.6/load.js?'+
                'mode=auto&uid=fr4c74l&button=compact&language=en_GB&category=software&popout=0&url='+encodeURIComponent(document.URL);
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */
</script>
{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<div class="box">
  <h1>{% trans "Donation" %}</h1>
  <p>{% blocktrans %} Place a creative message here to get donations, or we will starve to death trying to survive developing games.{% endblocktrans %}
  </p>

  </p>
  <div class="threecol colleft">
	<h3> PayPal </h3>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
	  <input type="hidden" name="cmd" value="_donations">
	  <input type="hidden" name="business" value="financial@fr4c74l.com">
	  <input type="hidden" name="item_name" value="Fractal Games and Technology">
	  <input type="hidden" name="item_number" value="donation">
	  <input type="hidden" name="no_shipping" value="1">
	  <input type="hidden" name="return" value="http://diggems.net/info/donate/thanks">
	  <input type="hidden" name="cancel_return" value="http://diggems.net/info/donate">
	  <input type="hidden" name="rm" value="1">
	  <input type="hidden" name="no_note" value="0">
	  <input type="hidden" name="currency_code" value="BRL">
	  <input type="hidden" name="lc" value="BR">
	  <label for="amount" style="font-size: 12px;">R$</label> <input type="text" name="amount" value="1.00" size="5" style="font-size: 12px; margin-right: 4px;">
	  <input type="image" align="top" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	  <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
	</form>
  </div>

  <div class="threecol colleft">
	<h3> Flattr </h3>
	<a class="FlattrButton" style="display:none;"
		data-flattr-tags="software, opensource, game, diggems"
		href="https://flattr.com/profile/fr4c74l">
	</a>
  </div>
  
  <div class="theecol colright">
	<h3> Bitcoin </h3>
	<img src="/static/images/bitcoin.png" alt="Donate Bitcoin" /><a rel="nofollow" href="bitcoin:1FmuHuupaQYFnULG2kpX4DM984LoG3Svwr"> 1FmuHuupaQYFnULG2kpX4DM984LoG3Svwr </a>
  	</div>


</div>
{% endblock %}
