{% extends "base.html" %}
{% comment %}

Copyright 2014 Fractal Jogos e Tecnologia Ltda.
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}
{% load i18n %}

{% block title %}{% blocktrans %}Game {{ game_id }}{% endblocktrans %}{% endblock %}
{% block header_extra %}
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/game.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/chat.css" />
{% endblock %}
{% block content %}
<script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}" />
<script type="text/javascript">
	<![CDATA[
	var params = {
	"game_id": {{ game_id }},
	"state": {{ state }},
	"seq_num": {{ seq_num }},
	"time_left": {% if time_left %}{{ time_left | escapejs }}{% else %}0{% endif %},
	"channel": "{{ channel }}"{% if fb_other %},
	"fb_other": "{{ fb_other }}"{% endif %}{% if p1_last_move %},
	"p1_last_move": "{{ p1_last_move }}"{% endif %}{% if p2_last_move %},
	"p2_last_move": "{{ p2_last_move }}"{% endif %}{% if mine %},
	"mine": "{{ mine }}"{% endif %}{% if player %},
	"player": {{ player }}{% if tnt_used %},
	"tnt_used": true{% endif %}{% endif %}
	};
	]]>
</script>
<script type="text/javascript" src="/static/js/game.js" />

{% if player and state == 0 %}
<div class="overlay" id="overlay" style="display:none;"/>
<div class="box" id="load_menu">
	<div style="margin-bottom:10px;">
		{% if not token %}
			<div id="loading">{% trans "Waiting for oponent" %}</div>
		{% else %}
			<div class="notice">{% trans "This game mode is private. You need to invite someone!" %}</div>
		{% endif %}
		<input class="button fb_button" type="submit" value="{% trans 'Invite a friend' %}" onclick="request_friends()" />
		<p> {% trans "Or" %} </p>
		<div id="invite_link">
			<div class="big">{% blocktrans %}Copy the link to your adversary{% endblocktrans %}:</div>
            <input type="text" style="cursor:text;" id="join_link" value="{{ base_url }}{% url 'game.views.join_game' game_id %}{% if token %}?token={{ token }}{% endif %}" readonly="readonly" />
            <div class="addthis addthis_toolbox addthis_default_style addthis_16x16_style">
			  <a class="addthis_button_facebook" />
			  <a class="addthis_button_twitter" />
			  <a class="addthis_button_google_plusone_share" />
            </div>
            <script type="text/javascript">
	        <![CDATA[
	          var addthis_config = { data_track_clickback: false };
	          var addthis_share = {
	            title: "DigGems: Game {{ game_id }}",
		        url: "{{ base_url }}{% url 'game.views.join_game' game_id %}{% if token %}?token={{ token }}{% endif %}",
		        description: "{% trans "Accept the challenge and play immediately!" %}",
	          };
	        ]]>
	        </script> 
	        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51df479d2a95600e" />
		</div>
		{% if not token %}
			<p> {% trans "Or" %} </p>
			<div class="big"> {% trans "Wait for someone to connect." %}</div>
		{% endif %}
	</div>
	<div>
		<form action="abort/" method="post">
			<input class="button" type="submit" value="{% trans 'Cancel' %}" />
		</form>
    </div>
</div>
{% endif %}

<div id="main">
	<div class="box" id="p1_pts_box"><img src="/static/images/ruby.png"/> <span id="p1_pts">0</span><span> / 26</span></div>

	<div id="middle_box">
		<div class="box" id="timer_box"><img src="/static/images/hourglass.png"/> <span id="clock"{% if time_left and time_left <= 10 or time_left == 0 %} style="color: #ff0000;"{% endif %}>{{ time_left|floatformat:"0" }}</span></div>
        <div class="button" id="give_up" onclick="claim_game(2);">{% trans "Give Up" %}</div>
        <div class="button" id="display_rematch" onclick="show_rematch_window()" >{% trans "Rematch" %}</div>
	</div>

	<div class = "box" id="timeout_buttons">
		<div class="button" id="timeout_terminate" onclick="claim_game(1);">{% trans "Terminate Game" %}</div>
		<div class="button" id="timeout_claim" onclick="claim_game(0);">{% trans "Take Player's Turn" %}</div>
	</div>

	<div class="box" id="p2_pts_box"><span id="p2_pts">0</span><span> / 26 </span><img src="/static/images/saphire.png"/></div>

    <div id="game_box" class="box">
	  <canvas id="game_canvas" style="visibility: hidden" width="416" height="416" />
      <div class="box" id="game_over" {% if state >= 3 %} style="display: none;"{% endif %} >
        <h1 id="game_over_msg" />
        <h2 id="rematch_ready_msg" >{% trans "Ready for a rematch?" %}</h2> 
        <div> 
		      {% for pid, pinfo in player_info.items %}
		      <div class="rematch_column">
			    <a id="p{{pid}}_rlink" class="plain{% if pinfo and pinfo.profile_url %} undlin" href="{{ pinfo.profile_url }}{% endif %}" target="_blank">
				{% if pinfo %}<img id="p{{pid}}_rpic" class="rematch_player_pic" width="60" height="60" src="{{ pinfo.pic_url }}"/>{% endif %}
				<div id="p{{pid}}_rname" class="pname rematch_player_name">{% if pinfo %}{{ pinfo.name|capfirst }}{% endif %}</div>
			    </a>
			    <p id="rematch_status_p{{pid}}"> {% trans "Ready" %}</p>
		      </div>
		      {% endfor %}
            </div>
            <div id="rematch_timer" />
            <div>
              <div class="button confirmation_rematch_button" id="rematch_close_button" onclick="hide_rematch_window()" >{% trans "Close" %}</div>
              <div class="button confirmation_rematch_button" id="rematch_button" onclick="rematch({{ game_id }});"> {% trans "Accept" %}</div>
            </div>
      </div>
	</div>

	<div class="box_container">
		{% for pid, pinfo in player_info.items %}
		<div class="box pbox" id="p{{pid}}_box">
			<a id="p{{pid}}_link" class="plain{% if pinfo and pinfo.profile_url %} undlin" href="{{ pinfo.profile_url }}{% endif %}" target="_blank">
				{% if pinfo %}<img id="p{{pid}}_pic" width="40" height="40" src="{{ pinfo.pic_url }}"/>{% endif %}
			<div id="p{{pid}}_name" class="pname">
			{% if pinfo %}
				{{ pinfo.name|capfirst }}
			{% else %}
				{% if not player and not token %}
					{% blocktrans %}Empty!{% endblocktrans %}
					<form style="float: right;" action="join/" method="post"> <input class="button" type="submit" value="{% blocktrans %}Join!{% endblocktrans %}" /></form>
				{% else %}
					{% blocktrans %}Wait...{% endblocktrans %}
				{% endif %}
			{% endif %}
			</div>
			</a>
			{% if player %}<div class="pinfo" style="text-align: {% if pid = 1 %}right{% else %}left{% endif %};">({% if player == pid %}{% blocktrans %}You{% endblocktrans %}{% else %}{% blocktrans %}Your opponent{% endblocktrans %}{% endif %})</div>{% endif %}
		</div>
		{% endfor %}
		{% if player %}
		<a class="box" id="tnt_box"><img id="tnt" src="/static/images/{% if tnt_used %}explosion{% else %}crate{% endif %}.png" /></a>
		{% endif %}
	</div>

	<div class="box big" id="message" {% if state != 0 %} style="display:block;" {% endif %}></div>
</div>

<div class="chat box_border_top" id="chat_window">
	<!-- TODO Uncomment the line below after create a function to add chat-->
	<div class="chat_menu" id="toggle_game_chat">{% blocktrans %}Game {{ game_id }} chat room{% endblocktrans %}</div>
	<div id="chat_area">
		<ul id="chat_textfield"/>
		<div id="chat_interact"{% if not player %} style="display:none;"{% endif %}>
			<span id="chat_username"> {{ user.name|capfirst }} : </span><input type="text" name="input_message" id="input_field" maxlength="255" />
			{# <input id="send_button" class="button" type="submit" value="{% trans 'Send' %}" /> #}
		</div>
	</div>
</div>

{% comment %}
TODO: Place this together with the enable/disable sound button.
<script type="text/javascript">
<![CDATA[
if(nt && nt.checkPermission() == 1)
document.write('<span onclick=\"nt.requestPermission();\">Clique para permitir notificação.</span>');
]]>
</script>
{% endcomment %}

{% endblock %}
