{% extends "base.html" %}
{% load i18n %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}{% blocktrans %}Unauthorized{% endblocktranks %}{% endblock %}

{% block content %}

<div class="box">
  <h1>{% blocktrans %}Error 403: Somebody is already playing in this place{% endblocktrans %}</h1>
    <p>{% blocktrans %}Create a new game at the <a href ="/">main page</a>.</p>{% endblocktrans %}
    </div>

{% endblock %}
