{% extends "base.html" %}
{% comment %}

Copyright 2011 Lucas Clemente Vella
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}
{% block title %}In-Game{% endblock %}
{% block css %}
	{{block.super}}
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/game.css" />
{% endblock %}
{% block content %}
<script>
	var params = {
	"game_id": {{ game_id }},
	"state": {{ state }},
	"seq_num": {{ seq_num }},
	"last_change": "{{ last_change }}",
	"channel": "{{ channel }}"{% if fb_other %},
	"fb_other": "{{ fb_other }}"{% endif %}{% if p1_last_move %},
	"p1_last_move": "{{ p1_last_move }}"{% endif %}{% if p2_last_move %},
	"p2_last_move": "{{ p2_last_move }}"{% endif %}{% if mine %},
	"mine": "{{ mine }}"{% endif %}{% if player %},
	"player": {{ player }}{% if tnt_used %},
	"tnt_used": true{% endif %}{% endif %}
	};
</script>
<script src="/static/js/game.js"></script>

<div id="main">
	<div class="box" id="p1_pts_box"><img src="/static/images/ruby.png"/> <span id="p1_pts">0</span></div>
	<div class="box" id="h_pts_box"><span id="h_pts">51</span></div>
	<div class="box" id="p2_pts_box"><span id="p2_pts">0</span> <img src="/static/images/saphire.png"/></div>
	<div id="game_box" class="box">
		<canvas id="game_canvas" style="visibility: hidden" width="416" height="416">
			Atualize seu navegador.
		</canvas>
	</div>
	<div class="box pbox" id="p1_box">
		<a id="p1_link"{% if p1_info %} class="undlin"{% endif %} target="_blank"{% if p1_info %} href="//facebook.com/{{ p1_info.uid }}/"{% endif %}>
			<img id="p1_pic" width="40px" height="40px" style="{% if not p1_info %}display: none;{% endif %}"{% if p1_info %} src="//graph.facebook.com/{{ p1_info.uid }}/picture"{% endif %} />
			<div id="p1_name" class="pname">{% if p1_info %}{{ p1_info.name }}{% else %}Visitante{% endif %}</div>
		</a>
		<div class="pinfo" style="text-align: right;">{% if player %}({% if player == 1 %}Você{% else %}Seu oponente{% endif %}){% endif %}</div>
	</div>{% if player %}
	<div class="box" id="tnt_box"><img id="tnt" src="/static/images/{% if tnt_used %}explosion{% else %}crate{% endif %}.png" /></div>
	{% endif %}
	<div class="box pbox" id="p2_box">
		<a id="p2_link"{% if p2_info %} class="undlin"{% endif %} target="_blank"{% if p2_info %} href="//facebook.com/{{ p2_info.uid }}/"{% endif %}>
			<img id="p2_pic" width="40px" height="40px" style="{% if not p2_info %}display: none;{% endif %}"{% if p2_info %} src="//graph.facebook.com/{{ p2_info.uid }}/picture"{% endif %} />
			<div id="p2_name" class="pname">{% if state == 0 %}{% if not player and not token %}Vago!{% else %}Aguarde...{% endif %}{% if player or not token %}<form style="float: right;" action="{% if player %}abort{% else %}join{% endif %}/" method="post"><input class="button" type="submit" value="{% if player %}Abortar{% else %}Juntar-se!{% endif %}" /></form>{% endif %}{% elif p2_info %}{{ p2_info.name }}{% else %}Visitante{% endif %}</div>
		</a>
		<div class="pinfo" style="text-align: left;">{% if player %}({% if player == 2 %}Você{% else %}Seu oponente{% endif %}){% endif %}</div>
	</div>
	<div class="box{% if state != 0 %} big{% endif %}" id="message">{% if player and state == 0 %}
		<div>Envie este link para o seu parceiro se conectar:</div>
		<div>
			<input type="text" id="join_link" readonly/>
			<script>
				document.getElementById('join_link').value = (window.location.origin + "{% url 'game.views.join_game' game_id %}{% if token %}?token={{ token }}{% endif %}");
			</script>
		</div>{% endif %}
	</div>
</div>

<!-- TODO: Have button to disable the audio. -->
<audio id="ring" preload="auto">
<source src="/static/sound/ring.mp3" type="audio/mpeg" />
<source src="/static/sound/ring.ogg" type="audio/ogg" />
<source src="/static/sound/ring.wav" type="audio/wav" />
</audio>

{% comment %}
TODO: Place this together with the enable/disable sound button.
<script>
if(nt && nt.checkPermission() == 1)
document.write('<span onclick=\"nt.requestPermission();\">Clique para permitir notificação.</span>');
</script>
{% endcomment %}
{% endblock %}
