{% extends "base.html" %}
{% load i18n %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}{% blocktrans %}Broken Link{% endblocktrans %}{% endblock %}

{% block content %}

<div class="box">
	<h1>{% blocktrans %}Error 404: This game has expired!{% endblocktrans %}</h1>
  <p>{% blocktrans %}...or has never existed. Create a new one at the <a href ="/">main page</a>.</p>{% endblocktrans %}
</div>

{% endblock %}
