{% extends "base.html" %}
{% comment %}

Copyright 2011 Lucas Clemente Vella
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}
{% load i18n %}

{% block title %}{% blocktrans %}Game {{ game_id }}{% endblocktrans %}{% endblock %}
{% block header_extra %}
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/game.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/chat.css" />
{% endblock %}
{% block content %}
<script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}" />
<script>
	<![CDATA[
	var params = {
	"game_id": {{ game_id }},
	"state": {{ state }},
	"seq_num": {{ seq_num }},
	"time_left": {% if time_left %}{{ time_left | escapejs }}{% else %}0{% endif %},
	"last_change": "{{ last_change }}",
	"channel": "{{ channel }}"{% if fb_other %},
	"fb_other": "{{ fb_other }}"{% endif %}{% if p1_last_move %},
	"p1_last_move": "{{ p1_last_move }}"{% endif %}{% if p2_last_move %},
	"p2_last_move": "{{ p2_last_move }}"{% endif %}{% if mine %},
	"mine": "{{ mine }}"{% endif %}{% if player %},
	"player": {{ player }}{% if tnt_used %},
	"tnt_used": true{% endif %}{% endif %}
	};
	]]>
</script>
<script src="/static/js/event.js" />
<script src="/static/js/game.js" />
<script src="/static/js/jquery-2.0.3.min.js"/>
<script src="/static/js/jquery-ui.min.js" />
<script src="/static/js/chat.js" />

<div id="main">
	<div class="box" id="p1_pts_box"><img src="/static/images/ruby.png"/> <span id="p1_pts">0</span><span> / 26</span></div>
	<div class="box" id="timer_box"><img src="/static/images/hourglass.png"/> <span id="clock"{% if time_left and time_left <= 10 or time_left == 0 %} style="color: #ff0000;"{% endif %}>{{ time_left|floatformat:"0" }}</span></div>
	<div class = "box" id="timeout_buttons">
		<div class="button" id="timeout_terminate" onclick="claim_game(1);">{% trans "Terminate Game" %}</div>
		<div class="button" id="timeout_claim" onclick="claim_game(0);">{% trans "Take Player's Turn" %}</div>
	</div>
	{# <div class="button" id="snd_pts_box" onclick="claim_game(2);">{% trans "Give Up" %}</div> #}
	<div class="box" id="p2_pts_box"><span id="p2_pts">0</span><span> / 26 </span><img src="/static/images/saphire.png"/></div>
	<div id="game_box" class="box">
		<canvas id="game_canvas" style="visibility: hidden" width="416" height="416" />
	</div>

	<div class="box_container">
		{% for pid, pinfo in player_info.items %}
		<div class="box pbox" id="p{{pid}}_box">
			<a id="p{{pid}}_link" class="plain{% if pinfo and pinfo.profile_url %} undlin" href="{{ pinfo.profile_url }}{% endif %}" target="_blank">
				{% if pinfo %}<img id="p{{pid}}_pic" width="40" height="40" src="{{ pinfo.pic_url }}"/>{% endif %}
				<div id="p{{pid}}_name" class="pname">{% if pinfo %}{{ pinfo.name|capfirst }}{% else %}{% if not player and not token %}{% blocktrans %}Empty!{% endblocktrans %}{% else %}{% blocktrans %}Wait...{% endblocktrans %}{% endif %}{% if player or not token %}<form style="float: right;" action="{% if player %}abort{% else %}join{% endif %}/" method="post"> <input class="button" type="submit" value="{% if player %}{% blocktrans %}Abort{% endblocktrans %}{% else %}{% blocktrans %}Join!{% endblocktrans %}{% endif %}" /></form>{% endif %}{% endif %}</div>
			</a>
			{% if player %}<div class="pinfo" style="text-align: {% if pid = 1 %}right{% else %}left{% endif %};">({% if player == pid %}{% blocktrans %}You{% endblocktrans %}{% else %}{% blocktrans %}Your opponent{% endblocktrans %}{% endif %})</div>{% endif %}
		</div>
		{% endfor %}
		{% if player %}
		<a class="box" id="tnt_box"><img id="tnt" src="/static/images/{% if tnt_used %}explosion{% else %}crate{% endif %}.png" /></a>
		{% endif %}
	</div>

	<div class="box{% if state != 0 %} big{% endif %}" id="message">{% if player and state == 0 %}
		<div >{% blocktrans %}Copy the link to your adversary{% endblocktrans %}:</div>
		<input type="text" style="display: inline-block; width: 250px;cursor:text;" id="join_link" value="{{ base_url }}{% url 'game.views.join_game' game_id %}{% if token %}?token={{ token }}{% endif %}" readonly="readonly" />
		<div style="display: inline-block;" class="addthis_toolbox addthis_default_style addthis_16x16_style">
			<a class="addthis_button_facebook" />
			<a class="addthis_button_twitter" />
			<a class="addthis_button_google_plusone_share" />
		</div>
		<script>
			<![CDATA[
			var addthis_config = { data_track_clickback: false };
			var addthis_share = {
				title: "DigGems: Game {{ game_id }}",
				url: "{{ base_url }}{% url 'game.views.join_game' game_id %}{% if token %}?token={{ token }}{% endif %}",
				description: "{% trans "Accept the challenge and play immediately!" %}",
			};
			]]>
		</script> 
		<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51df479d2a95600e" />{% endif %}
	</div>
</div>

<div class="popup" id="popup_window">
	<div class="chat box" id="chat_window">
		<!-- TODO Uncomment the line below after create a function to add chat-->
		<div style="float:right"><a id="toggle"> - </a><!--<a id="close">x</a> --></div>
		<div id="chat_area">
			<h3>{% blocktrans %} Game {{ game_id }} Chat Room {% endblocktrans %}</h3>
			<ul id="chat_textfield" style="width: 375px;" />
			<div id="chat_interact"{% if not player %} style="display:none;"{% endif %}>
				<span id="chat_username"> {{ user.name|capfirst }} : </span><input type="text" name="input_message" id="input_field"/>
				<input id="send_button" class="button" type="submit" value="{% trans 'Send' %}" />
			</div>
		</div>
	</div>
</div>

<!-- TODO: Have button to disable the audio. -->
<audio id="ring" preload="auto">
<source src="/static/sound/ring.mp3" type="audio/mpeg" />
<source src="/static/sound/ring.ogg" type="audio/ogg" />
<source src="/static/sound/ring.wav" type="audio/wav" />
</audio>

{% comment %}
TODO: Place this together with the enable/disable sound button.
<script>
<![CDATA[
if(nt && nt.checkPermission() == 1)
document.write('<span onclick=\"nt.requestPermission();\">Clique para permitir notificação.</span>');
]]>
</script>
{% endcomment %}
{% endblock %}
