{% extends "base.html" %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}Como jogar{% endblock %}

{% block content %}
<div class="box">
	<h1>Como jogar</h1>
	<p> Olá minerador! imagino que você queira saber como poderá se tornar o mais novo rei da Birmânia, então pegue sua pá ou picareta e vamos ao trabalho! Abaixo está a mina, seu objetivo é realizar escavações na mina e encontrar o maior número possível de pedras preciosas antes que seu adversário o faça, afinal você não quer que ele te escravize né!?. Os recursos da mina são escassos e dizem que existem apenas 51 pedras preciosas escondidas nela, então não perca tempo e comece logo a cavar!</p>
	<img class="center" src="/static/images/t-score.png" />

	<br><br><br>

	<p> Para iniciar a escavação, basta enviar o link mostrado logo abaixo da mina para o seu oponente, assim que seu oponente se conectar a corrida pelas pedras preciosas se inicia! Mas calma aí!! você não tem uma pá. Para que consiga cavar nós lhe emprestaremos uma, mas cuida bem dela tá? Pois é a única que temos e a emprestamos para outros mineiros também, e é por isso que todas as ações ocorrem em turnos, então espere para que a sua pá ou picareta apareça permitindo assim que você escave a mina.</p>
	<img class="center" src="/static/images/t-link.png" />

	<br><br><br>

	<img class="rightclear" src="/static/images/t-gameplay-gem.png" />
	<img class="rightclear" src="/static/images/t-gameplay-gemfound.png" />
	<p> Você possui ferramentas que lhe auxiliam a encontrar as pedras preciosas, uma delas é um detector de proximidade de pedras preciosas. Quando você cava, 
	é mostrado um número que representa quantas pedras preciosas estão ao redor da posição cavada, para ser mais exato 8 posições ao redor da posição central. 
	Por exemplo, na figura ao lado a posição mostrada com o círculo azul claro indica que há 1 pedra preciosa escondida em torno dessa posição, como ja existem 7 posições 
	descobertas para a posição circulada de azul claro, há apenas um lugar onde a pedra preciosa poderia estar. Basta clicar ("cavar") nesse lugar para encontrá-la.</p>
	<p> Desta forma, os números mostrados a medida que se cava, representam a quantidade de pedras preciosas ao redor, e quando não é mostrado nenhum número,
       	é porque não há nenhuma pedra preciosa ao redor. Nesses casos você consegue cavar frenéticamente enquanto encontrar lugares vazios, ou seja, sem números ou pedras preciosas.</p>

	<br><br><br>

	<p> Caso você esteja perdendo o jogo, ou seja, quando a sua quantidade de pedras preciosas mostrada no topo da mina é inferior a do seu oponente, você pode usar dinamite
	para explodir parte da mina! A dinamite não é muito potente, e consegue abrir um vão de apenas 2 posições de raio. As figuras abaixo mostram a dinamite sendo utilizada pelo minerador vermelho.</p>
	<div id="image_container" > 
		<img src="/static/images/t-bomb.png" />
  		<img id="arrow" src="/static/images/arrow.png" />
		<img src="/static/images/t-explosion.png" />
	</div>


	<br><br><br>

	<p> A escavação se encerra quando um dos mineradores encontra mais de 50% das pedras preciosas. Ao final é relevada a posição de todas as pedras preciosas que não foram encontradas.</p>
	<img class="center" src="/static/images/t-final.png" />

</div>

{% endblock %}
