{% extends "base.html" %}
{% comment %}

Copyright 2011 Lucas Clemente Vella
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}Index{% endblock %}
{% block css %}{{block.super}}  <link rel="stylesheet" media="screen" type="text/css" href="/static/css/index.css" />
{% endblock %}
{% block content %}
<div id="content_container">
	<table>
		<tbody>
			<tr>
				<td class="box" id="new_game">
					<h1>Novo Jogo</h1>
					<form action="new_game/" method="post">
						Jogo privado <input type="checkbox" name="private" value="1" />
						<input class="button" type="submit" value="Criar!"  style="float: right;"/>
					</form>
				</td>
				<td class="box" id="your_game" rowspan="2" class="top">
					<h1>Seus Jogos</h1>
					<ul class="center_list">
					{% if your_games %}
						{% for g in your_games %}
						<li class="list_games">
							<div style="float:left; padding: 0px 5px 5px 0px;" ><a class="undlin" href="game/{{ g.id }}/">Jogo {{ g.id }}</a></div>
							<div>{% if g.token %}Privado{% else %}Público{% endif %}</div>{% if g.state = 0 %}
							<div>Aguardando outdo jogador</div>{% else %}
							<div>Em andamento</div>{% endif %}
						</li>{% endfor %}
					{% else %}
					<h4> Nenhum jogo! </h4>
					{% endif %}
					</ul>
				</td>
			</tr>
			<tr>
				<td class="box" id="join_game" class="top">
					<h1>Jogos Por Começar</h1>
					<ul class="center_list">
						{% if new_games %}{% for g in new_games %}
						<li class="list_games">
							<div style="float:left; padding-right: 10px;">Jogo {{ g.id }}</div>
							<div style="overflow:hidden;">
								<div>Contra {% if g.op_picture %}<img src="{{g.op_picture}}" /> {% endif %}{{ g.op_name }}</div>
									<div style="margin-top: 10px;">
										<div style="float:left;"><form action="game/{{ g.id }}/" method="post"><input class="button" type="submit" value="Visualizar" /></form></div>
										<div><form action="game/{{ g.id }}/join/" method="post"><input class="button" type="submit" value="Juntar-se!" /></form></div>
									</div>
							</div>
						</li>
						{% endfor %}{% else %}<h4> Nenhum jogo! </h4>{% endif %}
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
