{% extends "base.html" %}
{% comment %}

Copyright 2011 Lucas Clemente Vella
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}
{% load i18n %}
{% block title %}Index{% endblock %}
{% block header_extra %}
	<link rel="stylesheet" media="screen" type="text/css" href="static/css/index.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/chat.css" />
	<meta property="fb:app_id" content="{{ FB_APP_ID }}" />
	<script src="/static/js/jquery-2.0.3.min.js"/>
	<script src="/static/js/event.js" />
	<script src="/static/js/chat.js" />
{% endblock %}
{% block content %}

<div class="box" id="your_games">
	{% if your_games|length > 0 %}
		<script> <![CDATA[ 
			if ($("#your_games").is(":hidden")) {
				$("#your_games").slideDown("slow"); 
			}
		]]> </script>
		{% if your_games|length == 1 %}
		<h1>{% trans "Return to game" %}</h1>
		{% else %}
		<h1>{% trans "Your games" %}</h1>
		{% endif %}
		<ul>
			{% for g in your_games %}
			<li class="list_games {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			<div style="float:left; padding: 0px 5px 5px 0px;" ><a class="undlin" href="game/{{ g.id }}/">{% trans "Game" %} {{ g.id }}</a></div>
			<div>
			<div>{% if g.token %}{% trans "Private" %}{% else %}{% trans "Public" %}{% endif %}</div>{% if g.state = 0 %}
			<div>{% trans "Waiting the other player" %}</div>{% else %}
			<div>{% trans "In progress" %}</div>{% endif %}
			</div>
			<div style="float:right;padding: 0px 5px 5px 0px;" ><a class="button" href="game/{{ g.id }}/">{% trans "Play now!" %}</a></div>
			</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>

<div class="game_buttons_menu" >
	<div class="left_menu_button">
		<form action="new_game/" method="post">
		 <!--   {% trans "Private game" %} <input type="checkbox" name="private" value="1" /> -->
			<input id="new_game_button" class="button game_button" type="submit" value="{% trans "Play!" %}" />
		</form>
	</div>

	<div class="right_menu_button">
		<form action="game/{{ g.id }}/join/" method="post">
			<input id="play_with_friends" class="button game_button" type="submit" value="{% trans "Play with a friend!" %}" />
		</form>
	</div>

	<div class="right_menu_button" style="margin: 2px 0px;">
		<form action="game/{{ g.id }}/join/" method="post">
			<input id="accept_challenge" class="button game_button" type="submit" value="{% trans "Accept challenge!" %}" />
		</form>
	</div>

	<div class="box right_menu_button" id="game_statistics">
		<h4> {% trans "Game statistics" %}</h4>
	</div>

</div>

<div class="chat box" style="margin-bottom:10px;">
		<h3>{% trans "Global Chat Room " %}</h3>
		<ul id="chat_textfield">
		<!--TODO: <li class="notice">Put chat login/logout messages here!</li> -->
		</ul>
		<span id="chat_username"> {{ user.name|capfirst }} : </span><input type="text" name="input_message" id="input_field"/>
		{#<input id="send_button" class="button" type="submit" value="{% trans 'Send' %}" />#}
</div>

<script>
	<![CDATA[
	var event = new Event('/event/main_channel', (new Date()).toUTCString());

	chat.init(
		document.getElementById("chat_textfield"),
		document.getElementById("input_field"),
		document.getElementById("send_button"),
		event, 'main_chat/'
	);
	]]>
</script>

<div class="likebox box" >
	<div class="fb-like" data-href="{{ like_url }}" data-send="true" data-show-faces="true"></div>
	<div style="float: right; display: inline-block;"><script id='flattrbtn'>
	<![CDATA[(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=fr4c74l&button=compact&url='+encodeURIComponent('{{ like_url }}');f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('flattrbtn');]]>
	</script></div>
</div>
{% endblock %}
