/* Copyright 2013 Fractal Jogos e Tecnologia
 * Software under Affero GPL license, see LICENSE.txt */

@charset "utf-8";

@font-face {
	font-family: Diavlo;
	src: url('/static/fonts/Diavlo_BOOK_II_37.otf');
	/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
}

@font-face {
	font-family: Diavlo;
	font-weight: bold;
	src: url('/static/fonts/Diavlo_BOLD_II_37.otf');
	/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
}

@font-face {
	font-family: GrutchShaded;
	src: url('/static/fonts/GrutchShaded.ttf');
	/* Free font by Steeve Gruson */
}


body {
	background:url('/static/images/bg-diggems.jpg') repeat-x fixed;
	background-color: #543116; 
	background-size: auto 100%;
	font-family: sans;
	font-size: small;
	cursor: default;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	min-width: 600px;
}

/* WRAPPER */
.container
{
  width: 960px;
  margin: 0px auto;
}

.plain {
	color: inherit;
	text-decoration: inherit;
}

.undlin:hover {
	text-decoration:underline;
}

.box {
	padding: 11px;
	background: rgba(255,255,255,0.25);
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fff;
	-o-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fff;
	-moz-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fff;
	-webkit-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fff; 
	text-shadow: 0.1em 0.1em 0.2em #535353;
	font-family: Diavlo;
}

.button {
	min-width: 15px;
	padding: 4px;
	margin: 0px 5px 0px 0px;
	background-color: #a0dC48;
	display: block;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px outset #B0EC58;
	color: #f9f9f9;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: bold;
	text-shadow: #72a749 0 -1px 0;
	text-align: center;
}

.button:hover {
	color: #f9f9f9;
	cursor: pointer;
}

.button:active {
	background-color: #6aa040;
	border: 1px inset #6aa040;
}

.clr {
	clear: both;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 0;
	line-height: 0;
	display: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* IMAGES */
img.top {
	vertical-align: top;
}

img.thumb {
	height: auto;
	width: 40px;
	margin: 0 3px;
	padding: 2px;
}

img.middle {
	vertical-align: middle;
	margin: 1px;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.rightclear { 
	float: right;
	clear: right;
	margin: 4px;
}

div#image_container {
	display: inline-block;
	width: 100%;
}

#image_container img {
    padding: 0 9px;
}

.tip_jar {
  display: block;
  width: 100px;
  height: 95px;
  background: url('/static/images/empty_jug.png');
}
.tip_jar:hover {
  background: url('/static/images/full_jug.png');
}

/* LANGUAGE MENU */
.lang_button {
  display: inline;
  border: none;
}

.lang_button:hover {
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px #666 solid;
}

.lang_button#selected {
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  border: 1px #666 solid;
  margin: 1px 3px;
  padding: 1px;
}

#langbar {
  font-family: Diavlo;
  color: #000;
  text-align:right;
  padding-top:5px;
}

#langbar form {
  margin:0px;
  display:inline;
  width:200px;
}

/* HEADER */
#header {
  clear:both;
}

.logo {
  vertical-align: middle;
  padding-left:10px;
}

#title {
  font-family: GrutchShaded;
  text-shadow: 0.1em 0.1em 0.2em #535353;
  color: #551a8b;
  font-size: 68px;
  padding-left:20px;
  letter-spacing: 4pt;
}

#beta {
  position: absolute;
  right: 0px;
  bottom: 0px;
  vertical-align: bottom;
}

#subtitle {
  color: #9a64c8;
}

/* USER SETTINGS MENU */
#user_info {
  font-family: Diavlo;
  font-weight: bold;
  float: right;
  position: relative; 
  min-width: 205px;
  display: block;
  margin: 5px;
}

#user_stats {
  float: right;
  display: inline-block;
  vertical-align: top;
  margin: 2px;
}

#logged_as {
  display: inline-block;
}

#score {
  display: block;
}

#auth_username {
  font-weight: normal;
  padding-left: 2px;
}

#auth_user_pic {
  float: left;
  width: 60px;
  height: 60px;
  margin: 0 5px;
  padding: 3px;
}

#auth_fb_button {
  padding: 4px 0px;
}

#auth_logout {
  padding: 4px 0px;
}

/* CONTENT */
#content {
  margin: 32px auto;
  padding: 18px 0 32px;
}

#content h1 {
    padding-left: 10px;
    text-decoration: underline;
}

#content p {
    margin: 4px;
    padding: 10px;
    text-align: justify;
}

/* FOOTER */
#footer {
    clear:both;
    width:100%;
    font-family: Diavlo;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 15px;
}

#footer_container {
    margin: 0 auto;
}

#footer_container li {
    display: inline;
    padding-left: 20px;
    list-style-type: none;
}

#footer_container a {
    color: #161311;
    clear: both;
    white-space: normal;
    text-decoration: none;
}

#footer_container a:hover {
    text-decoration: underline;
}
