@charset "utf-8";

@font-face {
	font-family: Diavlo;
	src: url('/static/fonts/Diavlo_BOOK_II_37.otf');
	/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
}

@font-face {
	font-family: Diavlo;
	font-weight: bold;
	src: url('/static/fonts/Diavlo_BOLD_II_37.otf');
	/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
} 

html {
	background:url('/static/images/bg-diggems.jpg') repeat-x left top; 
	background-color: #543116; 
	background-size: auto 100%;
	font-family: sans;
	font-size: small;
	z-index: -1;
}

.box {
	padding: 11px;
	background: rgba(255,255,255,0.25);
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fff;
	-o-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fff;
	-moz-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fff;
	-webkit-box-shadow: 0px 0px 5px black, inset 0px 0px 3px #fff; 
	text-shadow: 0.1em 0.1em 0.2em #535353;
	font-family: Diavlo;
}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
	display:none;
}

#game_canvas {
	/*position: absolute;
	top: 50%;
	left: 50%;
	margin: -270px 0 0 -202px;*/
	background-color: #fff;
	z-index: 1;
}


#bomb {
	float: left;
	width: 50px;
	height: 50px;
	z-index:0;
}

#bomb:hover{
	background: url(../images/bomb_up.png) no-repeat left top ; 
}

ul {
	list-style:none;
	padding: 0;
	margin: 0;
}

li {
	list-style:none;
	padding: 0;
	margin: 0;
}

#container {
	/*position:relative;
	min-height: 100%;
	height: auto !important; 
	margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */s
}

/* HEADER */
#header {
	padding:1em;
/*	min-width:521px; */
}

.logo {
	vertical-align: middle;
	padding-left:10px;
}

#title {
	font-family: GrutchShaded;
	font-weight: bold;
	/* text-shadow: 0.1em 0.1em 0.2em #535353; */
	color: #4c79a9;
	font-size: 68px;
	padding-left:20px;
	letter-spacing: 4pt;
}

#subtitle {
	color: #9a64c8;
}

#user_info {
	float: right;
	top: 20px;
	position: relative;
}

#user_pic {
	float: left;
}

#user_stats {
	padding-left: 5px;
}

#auth_username {
}

#score {
}

/* CONTENT */
#content {
/*	padding:1em 1em 5em; /* bottom padding for footer */
}

#content_container {
/*	margin: 0 auto;
	position: relative;
	padding: 0;
	height: 142px;
	max-width: 800px;*/
}
/* FOOTER */
#footer {
/*	position:absolute;
	width:100%;
	min-width:521px;
	bottom:0; /* stick to bottom */
}

#footer_container {
	display: block;
	margin: 0 auto;
}

#footer_container li {
	float: left;
	padding-left: 20px;
	list-style-type: none;
}

#footer_container li a {
	color: white;
	clear: both;
	white-space: normal;
	text-decoration: none;
}

#footer_container li a:hover {
	text-decoration: underline;
}


