
.chat {
	height: 10em;
	text-align: left;
}

.chat ul#chat_textfield {
	overflow: auto;
	height: 9em; 
	list-style: none;
	padding: 0.1em;
	margin: 0.1em;
	background: #fff;
}

.chat li {
	margin-bottom: 0.2em;
}

.chat li.notice {
	color: #999;
}

.chat li.message {
	color: #000;
}

#send_button {
	margin: 0 0 0 6px;
	float: right;
}

#input_field {
	margin: 0;
	width: 76%;
}

#chat_username {
	width:10%;
	text-align: left;
	color: #222;
	font-weight: bold;
}

#toggle_msg {
	font-size: large;
	visibility: hidden;
	padding: 0 5px;
}

#close, #toggle{
	font-size:x-large;
	padding: 0 5px
}

#close:hover, #toggle:hover{
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px #666 solid;
}

.popup {
	z-index: 2;
	position: fixed;
	bottom: 7em;
	right: 0;
	padding: 5px;
}
