#main {
    display: block;
    position: relative;
    width: 438px;
    margin: 0 auto;
}

#p1_pts_box {
    background: rgba(255,0,0,0.25);
    text-align: left;
    
    display: block;
    position: relative;
    width: 130px;
    margin-bottom: 10px;
}

#h_pts_box {
    text-align: center;

    display: block;
    position: absolute;
    top: 0px;
    width: 50px;
    left: 183px;
}

#p2_pts_box {
    background: rgba(0,0,255,0.25);
    text-align: right;
    
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 130px;
}

#game_box {
    display: block;
    position: relative;
    height: 416px;
}