/* Copyright 2013 Fractal Jogos e Tecnologia
 * Software under Affero GPL license, see LICENSE.txt */

.likebox {
	clear: both;
}

.fb-like {
	display: inline-block;
}

.list_games {
	padding: 0px 10px;
	overflow: hidden;
/*	width: 20em; */
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.game_button {
	width: 100%;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.game_buttons_menu {
	overflow: hidden; 
	width: 100%;
	margin-bottom: 10px;
}

.left_menu_button {
	margin: 0 auto;
	width: 49%;
	float: left;
}

.right_menu_button {
	margin: 0 auto;
	width: 49%;
	float: right;
}

#new_game_button {
	font-size: 50px;
	height: 250px;
}

#play_with_friends {
	font-size: 25px;
	height: 125px;
}

#accept_challenge {
	font-size: 20px;
	height: 62px;
}

#your_games {
	display: none;
}

#game_statistics {
	margin: 2px 0px;
	padding: 1px;
	height: 55px;
}

h4 {
	margin: 3px;
}

/* FORMS */

form {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
