
ul.list_games {
	padding: 0px 10px;
	overflow: hidden;
}

/* TABLES */

table {
	/* border-collapse:collapse; */
	empty-cells: hide;
	overflow: visible;
	width:100%;
	border-spacing: 20px;
}

tr {
	width:50%;
}

#new_game {
	min-width: 300px;
	vertical-align: bottom;
}

#join_game {
	min-width: 300px;
}

#your_game {
	min-width: 300px;
}

td.top {
	vertical-align: top;
}
td h1 {
	text-align: left;
}

caption {
	font-weight:bold;
	margin-bottom:.33em;
}

/* FORMS */

form {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

input[type=submit] {
	min-width: 15px;
	padding: 4px;
	margin: 0px 5px 0px 0px;
	background-color: #a0dC48;
	display: block;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px outset #B0EC58;
	color: #f9f9f9;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: bold;
	text-shadow: #72a749 0 -1px 0;
	text-align: center;
}

input[type=submit]:hover {
	color: #f9f9f9;
	cursor: pointer;
}

input[type=submit]:active {
	background-color: #6aa040;
	border: 1px inset #6aa040;
}

