{% comment %}

Copyright 2011 Lucas Clemente Vella
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}<html>
<header>
<title>DigGems: {% block title %}{% endblock %}</title>
<link rel="stylesheet" media="screen" type="text/css" href="/static/css/style.css" /></link>
</header>
<body>
<div id="fb-root"></div>
<script src="//connect.facebook.net/pt_BR/all.js"></script>
<script>
  var auth = {
    "fb": {% if fb %}{% include "auth_fb.json" %}{% else %}null{% endif %}
  }

  FB.init({
  "appId": "{{ FB_APP_ID }}",
  "status": true, "cookie": true, "oauth": true,
  "channelURL": "{{ PROTOCOL }}://vella.no-ip.org/fb/channel/",
  });
</script>
<script src="/static/js/login.js"></script>
<div id="auth_header">
<span id="auth_fb_button" style="visibility:hidden" onclick="fb_login()">Login via Facebook</span>
<div id="auth_logged" style="visibility:hidden">
<span id="auth_username"></span>
<span onclick="fb_logout()">Logout</span>
</div>
</div>
{% block content %}{% endblock %}
</body>
</html>
