{% extends "base.html" %}
{% comment %}

Copyright 2011 Lucas Clemente Vella
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}
{% block title %}In-Game{% endblock %}
{% block content %}
<script>
var params = {
"game_id": {{ game_id }},
"state": {{ state }},
"seq_num": {{ seq_num }},
"last_change": "{{ last_change }}",
"player": {{ player }},
"channel": "{{ channel }}"{% if mine %},
"mine": "{{ mine }}"{% endif %}{% if bomb_used %},
"bomb_used": true{% endif %}
};
</script>
<script src="/static/js/game.js"></script>

<body>
<div id="game_area">
<canvas id="game_canvas" width="415" height="415">
Atualize seu navegador.
</canvas>
</div>

<div id="bomb" style="visibility:hidden;" ></div>
<div class="clr"></div>
<p id="message">{% if token %}Envie <a href="{% url diggems.views.join_game game_id %}?token={{ token }}">este link</a> ao seu parceiro para que ele possa entrar no jogo.<br />
{% endif %}</p>
<p>Pontuação:<br />
Jogador Vermelho {% if player == 1 %}(você){% endif %}: <span id="p1_pts">0</span><br />
Jogador Azul {% if player == 2 %}(você){% endif %}: <span id="p2_pts">0</span></p>

{% endblock %}
