{% extends "base.html" %}
{% comment %}

Copyright 2011 Lucas Clemente Vella
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}Index{% endblock %}
{% block css %}
	{{block.super}}
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/index.css" />
{% endblock %}
{% block content %}
<div id="content_container">
	<table>
		<tbody>
			<tr>
				<td id="new_game">
					<h1>Novo Jogo</h1>
					<form action="new_game/" method="post">
						Jogo privado <input type="checkbox" name="private" value="1" />
						<input type="submit" value="Criar!"  style="float: right;"/>
					</form>
				</td>
				<td id="your_game" rowspan="2" class="top">
					<h1>Seus Jogos</h1>
					<div class="center_list">
					{% if your_games %}
						{% for g in your_games %}
						<ul>
							<li><a href="game/{{ g.id }}/">Jogo {{ g.id }}</a></li>
							<li>{% if g.token %}Privado{% else %}Público{% endif %}</li>{% if g.state = 0 %}
							<li>Aguardando outdo jogador</li>{% else %}
							<li>Em andamento</li>{% endif %}
						</ul>{% endfor %}
					{% else %}
					<h4> Nenhum jogo! </h4>
					{% endif %}
					</div>
				</td>
			</tr>
			<tr>
				<td id="join_game" class="top">
					<h1>Jogos Por Começar</h1>
					<div class="center_list">
						{% for g in new_games %}
						<ul>
							<li style="float:left;">Contra {% if g.op_picture %}<img src="{{g.op_picture}}" /> {% endif %}{{ g.op_name }}</li>
							<li><form action="game/{{ g.id }}/join/" method="post"><input type="submit" value="Juntar-se!" /></form></li>
							<li><a href="game/{{ g.id }}/">Visualizar jogo {{ g.id }}</a></li>
						</ul>
						<div class="clr"></div>
						{% endfor %}
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
