{% comment %}

Copyright 2011 Lucas Clemente Vella
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}<html>
<header>
<title>DigGems: Index</title>
</header>
<body>
<div id="fb-root"></div>
<script src="//connect.facebook.net/pt_BR/all.js"></script>
<script src="/static/login.js"></script>
<script>
  FB.init({
  appId: '{{ fb_app_id }}', status: true,
  cookie: true, oauth: true,
  channelURL: 'http://vella.no-ip.org/fb/channel/',
  });
</script>
<a onclick="fb_login()">Login via Facebook</a>

<h1>Novo Jogo</h1>
<form action="new_game/" method="post">
Jogo privado <input type="checkbox" name="private" value="1" /><br />
<input type="submit" value="Criar!" />
</form>{% if games %}

<h1>Seus Jogos</h1>{% for g in games %}
<ul>
    <li><a href="game/{{ g.id }}/">Jogo {{ g.id }}</a></li>
    <li>{% if g.private %}Privado{% else %}Público{% endif %}</li>{% if g.state = 0 %}
    <li>Aguardando outro jogador</li>{% else %}
    <li>Em andamento</li>{% endif %}
</ul>{% endfor %}{% endif %}
</body>
</html>
