{% extends "base.html" %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}Contate-nos{% endblock %}

{% block content %}
<div class="box">
	<h1>Contate-nos</h1>
	<p>Você quer entrar em contato com a gente? Tem algo a dizer? Talvez você tenha encontrado
	um <em>bug</em> e queira nos ajudar a construir um jogo melhor ao reportá-lo? Ou então
	você precisa de ajuda com algum problema? Tem ótimas ideias e sugestões de como este
	jogo pode ser melhorado? Quem sabe você só queira mesmo nos agradecer por este jogo
	incrível!?</p>

	<p>Qualquer que seja o caso, basta nos enviar um email no endereço <a href="mailto:loquor@fr4c74l.com">loquor@fr4c74l.com</a>
	que ficaremos felizes em te atender.</p>
</div>

{% endblock %}