{% extends "base.html" %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}Política de privaciade{% endblock %}

{% block content %}
<div class="box">
	<h1>Política de privaciade</h1>

	<p>Estes são todos os dados que mantemos dos nossos usuários:</p>
        <ul>
	    <li><em>Cookies</em> de identificação, para que possamos saber que você continua
	    sendo você entre diferentes abas ou sessões do navegador (como todo site faz);</li>
	    <li>Seu placar do jogo e estatísticas, como a razão entre vitórias e derrotas,
	    jogos ganhos, jogos perdidos, jogos terminados, total de pedras precisoas encontradas,
	    pedras preciosas encontradas naquela semana, 
	    <a href="http://pt.wikipedia.org/wiki/Rating_ELO">classificação Elo</a> etc;</li>
	    <li>Se você optou por entrar pelo Facebook, podemos manter seu nome e a associação
	    com o seu perfil do Facebook.</li>
        </ul>

	<p>Usaremos estes dados somente para:</p>
        <ul>
	    <li>Exibir as suas informações publicamente disponíveis pelo Facebook (nome,
	    foto do perfil) associado às partidas que você está atualmente jogando ou já
	    tenha jogado;</li>
	    <li>Exibir o seu nome, foto e placar acumulado em classificações de
	    jogadores;</li>
	    <li>Te identificar aos outros participantes no bate-papo em tempo real.</li>
        </ul>

	<p>Caso você tenha se idenficado pelo Facebook, podemos dar o <em>link</em>
	do seu perfil público no Facebook nos locais que você for identificado como
	jogador. Caso contrário, você será identificado somente pela sua conta de
	visitante, e nenhuma informação pessoal sua será mostrada a não ser que
	você as forneça, por sua conta e risco, nos bate-papos.</p>

	<p>Partidas podem ser assistirdas por usuários espectadores, e eles poderão
	ver a identidade dos jogadores, observar os movimentos do jogo e ler o
	bate-papo interno à sessão.</p>

	<p>Fora o que é publicamente disponível, nós não forneceremos nenhuma
	informação de usuários a terceiros.</p>
</div>

{% endblock %}
