{% extends "base.html" %}
{% comment %}

Copyright 2013 Fractal Jogos e Tecnologia
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}

{% block title %}Termos do serviço{% endblock %}

{% block content %}
<div class="box">
	<h1>Termos do serviço</h1>

	<p>Nós mantemos este jogo funcionando na esperança de que ele seja
	agradável aos jogadores, e embora não possamos garantir sempre uma
	experiência de jogo perfeita, nós – sem nenhuma obrigação legal –
	nos esforçamos para:</p>
	<ul>
	    <li>Manter o jogo sempre no ar, quando não estiver em manutenção;</li>
	    <li>Manter o tempo de indisponibilidade por causa de manutenção o menor possível;</li>
	    <li>Manter o tempo de resposta dos servidores sempre rápido;</li>
	    <li>Não interromper partidas em progresso;</li>
	    <li>Não perder estatíticas históricas vangloriáveis dos jogadores.</li>
	</ul>

	<p>Nós esperamos que nossos usuários sejam sempre respeitosos com os
	outros, e nos reservamos o direito de impedir o acesso aos nossos
	serviços àqueles que apresentarem comportamentos socialmente
	inaceitáveis.</p>
</div>
{% endblock %}
